.Navbar {
    display: block;
    width: 100%;
    padding: 25px 0;
    background-color: rgba(0,179,213, 0.75);
    color: #fff;
}

.Navbar .Container {
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.Navbar .Container .Logo {
    float: left;
    margin: auto 0;
}

.Navbar .Container .Logo h2 {
    margin: 0;
    font-size: 2.45em;
}

.Navbar .Container .Logo h2 span {
    color: #ccf2d2;
}

.Navbar .Container .NavbarRight {
    height: 100%;
    float: right;
}

.Navbar .Container .NavbarRight ul {
    margin: 0;
    padding: 11.5px 0;
    font-family: "Quicksand-Medium";
}

.Navbar .Container .NavbarRight ul li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
}

.Navbar .Container .NavbarRight ul .Login {
    margin-left: 55px;
}

.Navbar .Container .NavbarRight ul li a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; 
}

.Navbar .Container .NavbarRight ul .Login a {
    font-weight: 600;
    font-size: 1.2em;
}

.Navbar .Container .NavbarRight ul li a:hover {
    color: #ccecf2; 
}

@font-face {
  font-family: Quicksand-Light;
  src: url(../fonts/Quicksand/Quicksand-Light.ttf);
}

@font-face {
  font-family: Quicksand-Regular;
  src: url(../fonts/Quicksand/Quicksand-Regular.ttf);
}

@font-face {
  font-family: Quicksand-Medium;
  src: url(../fonts/Quicksand/Quicksand-Medium.ttf);
}

@font-face {
  font-family: Quicksand-Bold;
  src: url(../fonts/Quicksand/Quicksand-Bold.ttf);
}